/* T O C
 Presets
 Variablized Styles
 Element Styles
 Mobile
 Header and Nav
 Sections
 Media Queries
 */


/* Presets */
* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  max-width: 100%;
  height: 100%;

  background: #fafafa;
  background-color: rgba(0,0,0,0.8);
  color: rgba(28,28,28,0.9);

  font-family: 'Lato', sans-serif;
  font-size: 13px;

  text-align: center;
}

body {
  padding: 0 20px;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 900;
  text-transform: capitalize;
}

b {
  font-weight: 400;
}

/* Variablized STyles */

.hidden {
  display: none !important;
}

/* Body */

nav {
  font-family: oswald;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .08em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  pointer-events: all;
  cursor: pointer;
  vertical-align: middle;
}

nav a {
  margin: 0 1em;
  padding: .618em 0;
  color: #aaa;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: lato;
}

.top-left, .top-right {
 width: 400px;
}

.top-left {
 display: flex;
 justify-content: flex-start;
 padding-left: 50px;
}

.top-right {
 display: flex;
 justify-content: flex-end;
 padding-right: 50px;
}

.top-center {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-center a {
  font-family: roboto slab;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  letter-spacing: .15em;
  line-height: 1em;
  color: #eee;
}

.top-center div a {
  color: #eee;
  margin: 5px 0;
  font-weight: 100;
  font-size: 13px;
  font-family: lato, sans-serif;
  font-style: normal;
  letter-spacing: normal;
}

.mobile {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site {
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}

.video-banner, .tagline-banner {
  width: 100%;
}

.video-banner {
  position: relative;
  height: 325px;
  width: 100%;
  max-width: 1000px; /* TODO: add media queries for this */
  margin: 0 auto;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: -100px;
  left: -70px;
  width: 1000px;
  height: 1000px;
}

iframe, .vjs-poster, .html6-video-player {
  position: absolute;
  top: -25% !important;
  left: -65% !important;

  width: 330% !important;
  height: 95% !important;

  object-fit: cover;
}

.video-container video {
  position: absolute;
  top: 0 !important;
  left: 0 !important;

  width: 100%;
  height: 450px;
  /* height: auto; */

  object-fit: cover;
}

.video-js {
  height: 100%;
}

.tagline-banner {
  padding: 50px 0px;
}

.tagline {
  color: #525252;
  font-family: lato;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  letter-spacing: -.01em;
  line-height: 1em;
  text-transform: none;
}

.social-links {
  padding-bottom: 50px;
}

/* Media Queries */

/* Styles Applicable until Mobile Size Exceeded */
@media (max-width: 425px) {
  .mobile {
    display: flex;
  }
}

/* Styles Applicable Between mobile and tablet sizes */
@media (min-width: 425px + 1px) and (max-width: 768px) {

}
/* Styles Applicable Beginning at Deskop Size */
@media (min-width: 769px) {

}
/* Styles Applicable Beginning at Large Screen Size */
@media (min-width: 1920px) {

}
